.redio-label {
    left: 1rem;
}
.redio-div{
    display: flex;
    margin: 5px;
}
.box-dev{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 30px;
    /* height: 90px; */
}

.box-dev-pey{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 10px;
}
.box-grid{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    height: 330px;
    margin: auto;
}
.custom-control-label::before{
    top:0px;
    right: -1.5rem;
}
.custom-control-label::after{
    top:0px;
    right: -1.5rem;
}
.feild-set{
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    padding: inherit;
    text-align: initial;
}
.legend
{
    width: 5%;
}
.input-with-lable{
    float: right;
}
.table-cell-Lable {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}
.feild-set{
    border: 1px solid rgb(218, 218, 218);
    min-height: 70px;
    margin-bottom: 5px;
    padding: 5px;
}
.input-style{
    border-radius:3px;
     height: 25px;
     width: 150px;
     display: inline-block;
}