<div class="main-form-body" style="margin: 5px; height: 410px;">
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <table style="margin-bottom: 10px;width: 100%">
      <tr>
        <td width="50%">
          <span class="table-cell-Lable">گروه</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 80%;" class=""
            [NgSelectParams]="GroupParams" [Items]="GroupItems">
          </app-ng-select-virtual-scroll>
        </td>

        <td width="50%">
          <span class="table-cell-Lable">سمت</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="FolName"
            [(ngModel)]="FolName" />
        </td>
      </tr>
      <tr>
        <td width="50%">
          <span class="table-cell-Lable">نام</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="FirstName"
            [(ngModel)]="FirstName" />
        </td>

        <td width="50%">
          <span class="table-cell-Lable">نام خانوادگی</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="LastName"
            [(ngModel)]="LastName" />
        </td>
      </tr>
    </table>
    <table width="100%">
      <tr>
        <td width="45%"></td>
        <td width="60%">
          <button (click)="onSearch()" id="btnSearch"
            class="select-general-for-lable btn-gray-border btn btn-primary btnGreen">
            <img width="15px" height="15px" src="assets/Icons/search.png" />
            جستجو
          </button>
        </td>
      </tr>
    </table>
    <!-- <div>

    </div> -->
    <div class="box-dev" style="width: 100%; height: 75%;">
      <app-grid style="width: 100%;" [columns]="columnDef" [rowsData]="rowData" [gridHeight]="89" [IsEditable]="false"
        (RowClick)="RowClick($event)"
        (GridReady)="onGridReady($event)">
      </app-grid>
    </div>

  </div>
</div>
<div class="buttons-place" style="margin: 5px;">
  <button (click)="onSend()" id="btnSave" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/confirm24.ico" />
    ارسال </button>
  <button (click)="onClose()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>
<ng-template #IsCheck let-row>
  <img width="16px" height="16px" [src]="row.IsCheck ? 'assets/Icons/TrueCheckBox.png':'assets/Icons/uncheck.png'" />
</ng-template>

<app-over-popup *ngIf="isClicked" [PopupType]="PopUpType" [HaveMaxBtn]="false" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [PopupParam]="alertMessageParams" [HaveHeader]="HaveHeader"
  (popupclosed)="popupclosed($event)">
</app-over-popup>