<div class="main-form-body" style="margin-top: 5px; height: 84%;">
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <table style="margin-bottom: 10px;width: 100%">
      <tr>
        <td width="50%">
          <span class="table-cell-Lable">واحد اجرایی</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 80%;" class=""
            [NgSelectParams]="RegionParams" [Items]="RegionItems">
          </app-ng-select-virtual-scroll>
        </td>

        <td width="50%">
          <span class="table-cell-Lable"> کد ملی</span>
          <!-- <input style="width: 80%" class="form-control input-style" type="text" name="PersonIdentityNo"
            [(ngModel)]="PersonIdentityNo" /> -->
          <app-number-input-component class="col-form-label" [Value]="PersonIdentityNo"
            (ValueChange)="getPersonIdentityNo($event)" [PerCentWidth]="80" [PixelHeight]="25" [HaveThousand]="false">
          </app-number-input-component>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <span class="table-cell-Lable">شناسه ملی</span>
          <!-- <input style="width: 80%" class="form-control input-style" type="text" name="CorporateidentityNo"
            [(ngModel)]="CorporateidentityNo" /> -->

          <app-number-input-component class="col-form-label" [Value]="CorporateidentityNo"
            (ValueChange)="getCorporateidentityNo($event)" [PerCentWidth]="80" [PixelHeight]="25"
            [HaveThousand]="false">
          </app-number-input-component>
        </td>

        <td width="50%">
          <span class="table-cell-Lable">نام پیمانکار</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="ContractorName"
            [(ngModel)]="ContractorName" />
        </td>

      </tr>

      <tr>
        <!--تاریخ-->
        <td width="50%">
          <span class="table-cell-Lable"> تاریخ قرارداد از</span>
          <app-jalali-datepicker [WidthPC]="80" (Change)="OnFromContractDateChange($event)">
          </app-jalali-datepicker>
        </td>

        <td width="50%">
          <span class="table-cell-Lable">تا</span>
          <app-jalali-datepicker [WidthPC]="80" (Change)="OnToContractDateChange($event)">
          </app-jalali-datepicker>
        </td>
      </tr>

      <tr>
        <!--مبلغ اولیه-->
        <td width="50%">
          <span class="table-cell-Lable">مبلغ اولیه از</span>
          <app-number-input-component class="col-form-label" [Value]="FromCashPriceFrom"
            (ValueChange)="getCashPriceFrom($event)" [PerCentWidth]="80" [PixelHeight]="25" [HaveThousand]="true">
          </app-number-input-component>
        </td>

        <td width="50%">
          <span class="table-cell-Lable">تا</span>
          <app-number-input-component class="col-form-label" [Value]="ToCashPrice"
            (ValueChange)="getCashPriceTo($event)" [PerCentWidth]="80" [PixelHeight]="25" [HaveThousand]="true">
          </app-number-input-component>
        </td>
      </tr>

      <tr>
        <!--مبلغ نهایی-->
        <td width="50%">
          <span class="table-cell-Lable">مبلغ نهایی از</span>
          <app-number-input-component class="col-form-label" [Value]="FromCurrentPrice"
            (ValueChange)="getCurrentPriceFrom($event)" [PerCentWidth]="80" [PixelHeight]="25" [HaveThousand]="true">
          </app-number-input-component>
        </td>

        <td width="50%">
          <span class="table-cell-Lable">تا</span>
          <app-number-input-component class="col-form-label" [Value]="ToCurrentPrice"
            (ValueChange)="getCurrentPriceTo($event)" [PerCentWidth]="80" [PixelHeight]="25" [HaveThousand]="true">
          </app-number-input-component>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <span class="table-cell-Lable" style="font-size: 9px;">شماره درخواست</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="ProductRequestNo" [(ngModel)]="ProductRequestNo" />
        </td>

        <td width="50%">
          <span class="table-cell-Lable">موضوع</span>
          <input style="width: 80%" class="form-control input-style" type="text" name="Subject" [(ngModel)]="Subject" />
        </td>
      </tr>
    </table>
    <div class="box-dev" style="width: 100%; height: 60%;">
      <app-grid style="width: 100%;" [columns]="columnDef" [rowsData]="rowData" [gridHeight]="89" [IsEditable]="false"
        (RowClick)="RowClick($event)">
      </app-grid>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button (click)="onSearch()" id="btnSearch" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/search.png" />
    جستجو
  </button>
  <button (click)="onDelete()" id="btnSave" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/delete.png" />
    حذف از سامانه شفاف
  </button>
  <button *ngIf="false" (click)="sendSh()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
   حذف قراردادهای ناموجود در شفاف</button>
  <button (click)="onClose()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>


<app-over-popup *ngIf="isClicked" [PopupType]="PopUpType" [HaveMaxBtn]="false" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [PopupParam]="alertMessageParams" [HaveHeader]="HaveHeader"
  (popupclosed)="popupclosed($event)">
</app-over-popup>