<div class="main-form-body" style="margin-top: 5px; height: 85%;">
  <fieldset *ngIf="HasRegion" align="right" class="feild-set" style="display: inherit">
    <legend style="width: 5%;"> واحد اجرایی </legend>
    <table style="margin-bottom: 10px">
      <tr>
        <td style="padding: 10px;">واحد اجرایی</td>
        <td>
          <app-ng-select-virtual-scroll style="display: inline-block;min-width: 150px" [NgSelectParams]="RegionParams"
            (selectedChange)="onChangeRegionObj($event)" [Items]="RegionListSet">
          </app-ng-select-virtual-scroll>
        </td>
      </tr>
    </table>
  </fieldset>
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <div class="box-dev" style=" width: 100%;" [style.height.%]="BoxDevHeight">
      <app-grid (RowClick)="RowClick($event)" (GridReady)="onGridReady($event)" [columns]="SelectedColumnDef"
        [rows]="rowData" (CellValueChanged)="onCellValueChanged($event)"
        (cellEditingStarted)="oncellEditingStarted($event)" [gridHeight]=92>
      </app-grid>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button *ngIf="NoIsIncomplete" (click)="Btnclick('insert')" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/add.png" />
    ایجاد</button>
  <button *ngIf="ModuleCode !== 3090" (click)="Btnclick('update')" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/show.png" />
    اصلاح
  </button>
  <button *ngIf="ModuleCode === 3090" (click)="ShowProdReq()" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/show.png" />
    مشاهده درخواست
  </button>
  <button *ngIf="ModuleCode === 2939 || ModuleCode === 2951" (click)="OnCallExternalServiceClick()" id="btn2"
    class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/Upload.png" />
    تایید و ارسال به سامانه شفاف
  </button>
  <button *ngIf="ModuleCode !== 3090 && DisableDelete" id="btnTenderRep" class="btn btn-primary btnGreen" (click)="onDeleteclick()">
    <img width="15px" height="15px" src="assets/Icons/delete.png" />
    حذف
  </button>
  <button (click)="close()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>

<app-over-popup *ngIf="btnclicked" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [minHeightPixel]="MinHeightPixel" [PercentWidth]="PercentWidth"
  [MainMaxwidthPixel]="MainMaxwidthPixel" [PopupType]="type" [HeightPercentWithMaxBtn]="HeightPercentWithMaxBtn"
  [PopupParam]="type === 'message-box' ? alertMessageParams : paramObj" [HaveHeader]="HaveHeader"
  (popupclosed)="popupclosed($event)"
  (PopupOutPutParam)="type ==='message-box' ? MessageBoxAction($event) : getOutPutParam($event)">
</app-over-popup>