.PriceListDiv{
    text-align: initial ;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid rgb(218, 218, 218);
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 4px;
}
.spanStyle{
    margin: 5px; 
    color: red;
}
.input-style{
    border-radius:3px;
     height: 25px;
     display: inline-block;
}
.feild-set{
    border: 1px solid rgb(218, 218, 218);
    min-height: 50px;
    margin-bottom: 5px;
    padding: 5px;
}
.legend
{
    width: 7%;
}
#subject-style{
    border-radius:3px;
     height: 25px;
}
.table-cell-Lable {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }
.box-dev{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);  
    padding-top: 5px;
    height: 60%;
}
.bntBox{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    height: 80px;
    margin: 5px;
    padding-top: 5px;
    padding-right: 1%;
    margin-top: 10px;
}
.fontsize
{
    font-size: larger;
}

.btn{
    margin-right: 2px !important;
}
.PriceListDivSum{
    text-align: left ;
    padding-top: 0px;
    float: left;
    
}