.feild-set{
    border: 1px solid rgb(218, 218, 218);
    min-height: 50px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: right;
}
.table-cell-Lable {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
  }

  .input-style{
    border-radius:3px;
     height: 25px;
     width: 150px;
     display: inline-block;
}
/* ------------------ */


.legend
{
    width: 10%;
}
#subject-style{
    border-radius:3px;
    height: 25px;
}

.bntBox{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    height: 80px;
    margin: 5px;
    padding-top: 5px;
    padding-right: 1%;
    margin-top: 10px;
}
.fontsize
{
    font-size: larger;
}

.btn{
    margin-right: 2px !important;
}
.select-general-for-lable {
    margin: 0 !important;
    width: auto ;
}
.custom-control-label::before{
    top:0px;
    right: -1.5rem;
}
.custom-control-label::after{
    top:0px;
    right: -1.5rem;
}
.select-general-for-lable {
        margin: 0 !important;
        width: auto ;
}


