<div class="main-form-body" style="margin:5px; height: 93%;">
  <div class="main-form-body" style="display: inherit">
    <table style="width: 100%;">
      <tr>
        <td width="25%">
          <span class="table-cell-Lable">واحد اجرایی</span>
          <app-ng-select-virtual-scroll style="display: inline-block; width: 68%;" [NgSelectParams]="RegionParams"
            [Items]="RegionItems">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="25%">
          <span class="table-cell-Lable">سال مالی</span>
          <input style="display: inline-block; width: 62%;" class="form-control input-style" type="text"
            value="{{FinYearCode}}" />
        </td>
        <td width="25%">
          <span class="table-cell-Lable">شماره درخواست وجه</span>
          <input style="display: inline-block; width: 61%;" class="form-control input-style" type="text"
            value="{{FeeCode}}" />
        </td>
        <td width="25%">
          <span class="table-cell-Lable">تاریخ درخواست وجه</span>
          <app-jalali-datepicker [WidthPC]="40" [Required]="true" [CurrMiladiDateValue]="FeeDate">
          </app-jalali-datepicker>
          <!--(Change)="OnFeeDateChange($event)"-->
        </td>
      </tr>
      <tr>
        <td colspan="2" width="50%">
          <span class="table-cell-Lable">شخص</span>
          <input style="display: inline-block; width: 84%;" class="form-control input-style" type="text"
            value="{{ActorName}}" />
        </td>
        <td colspan="2" width="50%">
          <span class="table-cell-Lable">شرح</span>
          <input style="display: inline-block; width: 81%;" class="form-control input-style" type="text"
            value="{{Note}}" />
        </td>
      </tr>
      <tr>
        <td colspan="2" width="50%">
          <span class="table-cell-Lable">موضوع</span>
          <input style="display: inline-block; width: 84%;" class="form-control input-style" type="text"
            value="{{Subject}}" />
        </td>
      </tr>
    </table>
  </div>
  <div class="main-form-body" style="display: inherit;height: 35%;">
    <app-grid [columns]="FeePaymentColDef" [rowsData]="rowDataP" [ParentgridHeight]='80' [gridHeight]=75>
    </app-grid>
    <div class="main-form-body" style=" margin-top: 4px;color: red;height: 32px;padding: 3px;">
      <!--<div *ngIf="HaseEstimate" style="min-width: 100px;font-weight: bold;display: inline-block">-->
      <span id="sum-final-estimate-amount" class="table-cell-Lable">جمع کل: </span>
      <label for="sum-final-estimate-amount" style="margin:2px"> {{SumPaymentAmount}} </label>
      <!--</div>-->
    </div>
  </div>

  <div class="main-form-body" style="display: inherit;height: 35%;">
    <!-- (RowClick)="RowClick($event)" -->
    <app-grid [columns]="FeeDeductionColDef" [rowsData]="rowDataD" [ParentgridHeight]='80'
      [gridHeight]=75>
    </app-grid>
    <div class="main-form-body" style=" margin-top: 4px;color: red;height: 32px;padding: 3px;">
      <!--<div *ngIf="HaseEstimate" style="min-width: 100px;font-weight: bold;display: inline-block">-->
      <span id="sum-final-estimate-amount" class="table-cell-Lable">جمع کل: </span>
      <label for="sum-final-estimate-amount" style="margin:2px"> {{SumDeductionAmount}} </label>
      <!--</div>-->
    </div>
  </div>

  <div class="buttons-place" style="float: left;margin: auto;">
    <!-- <button *ngIf="DisplayControlls" [disabled]="IsDisable || IsEndFlow" (click)="SignFinal()" id="btn2"
      class="btn btn-primary btnGreen" style="margin: 2px;">
      <img width="15px" height="15px" src="assets/Icons/SigneDoc.png" />
      امضا </button> -->
    <button *ngIf="DisplayControlls" [disabled]="IsDisable || IsEndFlow" (click)="onDigitalSingClick()" id="btn2"
      class="btn btn-primary btnGreen" style="margin: 2px;">
      <img width="15px" height="15px" src="assets/Icons/Approve.png" />
      تایید و ارسال </button>
    <button *ngIf="DisplayControlls" [disabled]="IsDisable || IsEndFlow" (click)="onUnConfirmAndReturn()" id="btn2"
      class="btn btn-primary btnGreen" style="margin: 2px;">
      <img width="15px" height="15px" src="assets/Icons/DisApprove.png" />
      عدم تاييد و بازگشت </button>
    <button (click)="OnClickPrintFlow()" class="btn btn-primary btnGreen">
      <img width="15px" height="15px" src="assets/Icons/print.png" />
      گردش
    </button>
  </div>

</div>
<ng-template #IsReadyToConfirm let-row>
  <img width="16px" height="16px" src="assets/Icons/SigneDoc.png" (click)="RowClick(row)"/>
</ng-template>
<app-over-popup *ngIf="isClicked" [PopupType]="type" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [PopupParam]="type ==='message-box' ?alertMessageParams  : ParamObj"
  (popupclosed)="popupclosed($event)" [MainMinwidthPixel]="OverMainMinwidthPixel"
  [MainMaxwidthPixel]="MainMaxwidthPixel"></app-over-popup>