<div class="main-form-body" style="margin-top: 5px; height:86%;">
  <div role="tabpanel" id="contractor-card" class="tab-pane fade show active" style="height: 100%; margin-bottom: 5px;">
    <ul style="margin-top: 5px" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#DetailSearch" role="tab" data-toggle="tab">جستجو به ریز</a>
      </li>
      <!-- KH / RFC 64016-->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#CumulativeSearch" role="tab" data-toggle="tab">جستجو به سرجمع</a>
      </li> -->
    </ul>
    <div class="tab-content" style="margin-top: 5px; height: 100%;">
      <div role="tabpanel" class="tab-pane fade show active" id="DetailSearch" [style.height.%]="100"
        style="margin-bottom: 5px;">
        <div class="main-form-body" style="padding-top: 3px !important; padding-bottom: 3px !important; height:92%;">
          <table style="width: 100%;">
            <tr>
              <td width="33%">
                <span class="table-cell-Lable">نوع پیمانکار</span>
                <div class="redio-div" style="width: 58%; text-align: right; margin-right: 10px;">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input [checked]="!ContractorType" type="radio" class="custom-control-input"
                      id="rdoPersonContractor" name="ChoosenContractorType" (click)="rdoContractorTypeClick(false)">
                    <label class="custom-control-label redio-label" for="rdoPersonContractor">حقيقي
                    </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input [checked]="ContractorType" type="radio" class="custom-control-input"
                      id="rdoCorporateContractor" name="ChoosenContractorType">
                    <label class="custom-control-label redio-label" for="rdoCorporateContractor"
                      (click)="rdoContractorTypeClick(true)">حقوقي</label>
                  </div>
                </div>
              </td>
              <td width="33%">
                <span class="table-cell-Lable">با در نظر گرفتن درخواست</span>
                <app-custom-check-box style="vertical-align: sub; " [configurationInfo]="CustomCheckBoxConfig"
                  [isSelected]="IsCheck" (PrettyCheckBoxChange)="OnChangeCheckBoxValue($event)">
                </app-custom-check-box>
              </td>
              <td width="34%">
                <span class="table-cell-Lable">نام پیمانکار</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="Contractorname"
                  [(ngModel)]="Contractorname" />
              </td>
            </tr>
            <tr>
              <td width="33%">
                <span class="table-cell-Lable"> شناسه/شماره ملی</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="IdentityNo"
                  [(ngModel)]="IdentityNo" />

              </td>
              <td width="33%">
                <span class="table-cell-Lable">شماره ثبت</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="RegisterNo"
                  [(ngModel)]="RegisterNo" />
              </td>
              <td width="34%">
                <span class="table-cell-Lable">رتبه</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="GradeID"
                  [(ngModel)]="GradeID" />
              </td>
            </tr>
            <tr>
              <!-- <td width="33%">
        <span class="table-cell-Lable">واحد اجرایی</span>
        <app-ng-select-virtual-scroll style="display: inline-block;width: 60%;" class="" [NgSelectParams]="RegionParams"
          [Items]="RegionItems" (selectedChange)="onChangeRegion($event)">
        </app-ng-select-virtual-scroll>
      </td> -->
              <td width="25%">
                <span class="table-cell-Lable">محل هزینه </span>
                <app-ng-select-virtual-scroll style="display: inline-block;width: 60%;"
                  [NgSelectParams]="VWExeUnitParams" (selectedChange)="onChangeExeUnit($event)" [Items]="ExeUnitItems"
                  (Open)="OnOpenExeUnit()">
                </app-ng-select-virtual-scroll>
              <td width="33%">
                <span class="table-cell-Lable">کسب و کار</span>
                <app-ng-select-virtual-scroll style="display: inline-block;width: 60%;" class=""
                  [NgSelectParams]="BusinessPatternParams" (selectedChange)="onChangeBusinessPattern($event)"
                  [Items]="BusinessPatternItems" (Open)="OnOpenBusinessPattern()">
                </app-ng-select-virtual-scroll>
              </td>
              <td width="33%">
                <span class="table-cell-Lable">رسته</span>
                <app-ng-select-virtual-scroll style="display: inline-block;width: 60%;" class=""
                  [NgSelectParams]="PriceListTopicParams" [Items]="PriceListTopicItems" (Open)="OnOpenPriceListTopic()">
                </app-ng-select-virtual-scroll>
              </td>
            </tr>
            <tr>
              <td width="33%">
                <span class="table-cell-Lable">وضعیت</span>
                <app-ng-select-virtual-scroll style="display: inline-block;width: 60%;" class=""
                  [NgSelectParams]="ActorBusinessAllowStateParams" [Items]="ActorBusinessAllowStateList">
                </app-ng-select-virtual-scroll>
              </td>
              <td width="33%"></td>
              <td width="34%"></td>
            </tr>
          </table>
          <table style="margin-top: 5px;">
            <tr>
              <td wdith="25%" colspan="2">
                <button type="submit" (click)="Search()" style="width: 150px;height: 30px;"
                  class="select-general-for-lable btn-gray-border btn btn-primary btnGreen">
                  <img width="15px" height="15px" src="assets/Icons/Search.png" />
                  جستجو
                </button>
              </td>
            </tr>
          </table>
          <div class="box-dev" style=" width: 100%; margin-top: 5px;" [style.height.%]="65">
            <app-grid [columns]="columnDef" [rowsData]="rowData" [gridHeight]=88 (RowClick)="RowClick($event)"
              (GridReady)="onGridReady($event)">
            </app-grid>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade show" id="CumulativeSearch" [style.height.%]="100"
        style="margin-bottom: 5px;">
        <div class="main-form-body" style="padding-top: 3px !important; padding-bottom: 3px !important;  height:92%;">
          <table style="width: 100%;">
            <tr>
              <td width="33%">
                <span class="table-cell-Lable">نوع پیمانکار</span>
                <div class="redio-div" style="width: 58%; text-align: right; margin-right: 10px;">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input [checked]="!ContractorType" type="radio" class="custom-control-input"
                      id="rdoPersonContractors" name="ChoosenContractorTypes" (click)="rdoContractorTypeClick(false)">
                    <label class="custom-control-label redio-label" for="rdoPersonContractors">حقيقي
                    </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input [checked]="ContractorType" type="radio" class="custom-control-input"
                      id="rdoCorporateContractors" name="ChoosenContractorTypes">
                    <label class="custom-control-label redio-label" for="rdoCorporateContractors"
                      (click)="rdoContractorTypeClick(true)">حقوقي</label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td width="33%">
                <span class="table-cell-Lable">نام پیمانکار</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="Contractorname"
                  [(ngModel)]="Contractorname" />
              </td>
              <td width="33%">
                <span class="table-cell-Lable"> شناسه/شماره ملی</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="IdentityNo"
                  [(ngModel)]="IdentityNo" />
              </td>
              <td width="33%">
                <span class="table-cell-Lable">شماره ثبت</span>
                <input style="width: 60%; " class="form-control input-style" type="text" name="RegisterNo"
                  [(ngModel)]="RegisterNo" />
              </td>
            </tr>
          </table>
          <table style="margin-top: 5px;">
            <tr>
              <td wdith="25%" colspan="2">
                <button type="submit" (click)="SearchCumulative()" style="width: 150px;height: 30px;"
                  class="select-general-for-lable btn-gray-border btn btn-primary btnGreen">
                  <img width="15px" height="15px" src="assets/Icons/Search.png" />
                  جستجو
                </button>
              </td>
            </tr>
          </table>
          <div class="box-dev" style=" width: 100%; margin-top: 5px;" [style.height.%]="78">
            <app-grid [columns]="MaincolumnDef" [rowsData]="MainrowData" [gridHeight]=89
              (RowClick)="MainRowClick($event)" (GridReady)="onMainGridReady($event)">
            </app-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button (click)="closeModal()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>

<ng-template #Print let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/print.png"
    (click)="onPrintClick(row)" />
</ng-template>

<ng-template #SendText let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Approve.png"
    (click)="onSendTextClick(row)" />
</ng-template>

<ng-template #ShowInformations let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Details.png"
    (click)="onShowInformationsClick(row)" />
</ng-template>


<ng-template #ShowRank let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Suggestion.png"
    (click)="onShowRankClick(row)" />
</ng-template>
<ng-template #ShowContractorwinercommition let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Suggestion.png"
    (click)="onShowContractorwinercommitionClick(row)" />
</ng-template>
<ng-template #ShowHistoryList let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Suggestion.png"
    (click)="onShowHistoryListClick(row)" />
</ng-template>
<ng-template #ShowRunningContracts let-row>
  <img [ngClass]="'img-def'" style="cursor: pointer;" width="16px" height="16px" src="assets/Icons/Suggestion.png"
    (click)="onShowRunningContractsClick(row)" />
</ng-template>

<app-over-popup *ngIf="btnclicked" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [minHeightPixel]="MinHeightPixel" [PopupType]="type"
  [PopupParam]="type === 'message-box' ? alertMessageParams : paramObj" [PixelHeight]="PixelHeight"
  [MainMaxwidthPixel]="MainMaxwidthPixel" [minWidthPixel]="minWidthPixel" [PixelWidth]="PixelWidth"
  [PercentWidth]="PercentWidth" (popupclosed)="popupclosed($event)">
</app-over-popup>

<!-- [PixelWidth]="1140" -->