<div id="container" class="row" style="clear: both">
  <div id="content" class="" style="height: 100%; width: 100%;">
    <div class="main-form-body" style="margin: 5px;">

      <fieldset align="right" class="feild-set" style="display: inherit">
        <legend class="legend" style="margin: 0;">ردیف قرارداد</legend>

        <div class="input-with-lable" style="margin:auto">
          <label for="indicator-label-code" class="col-form-label"> کد فعالیت </label>
          <input readonly style="display: inline-block;" id="indicator-label-code" class="form-control" type="text"
            name="last" value="{{ProductCode}}" />
        </div>

        <div class="input-with-lable" style="margin:auto">
          <label for="indicator-label-name" class="col-form-label FontSize12">نام فعالیت </label>
          <input readonly style="display: inline-block; width: 500px; " id="indicator-label-name" class="form-control "
            type="text" name="last" value="{{ProductName}}" />
        </div>

        <div class="input-with-lable" style="margin:auto">
          <label for="indicator-label-amount" class="col-form-label FontSize12">مبلغ</label>
          <input readonly style="display: inline-block; width: auto " id="indicator-label-amount" class="form-control "
            type="text" name="last" value="{{Amount}}" />
        </div>
      </fieldset>

      <div class="box-dev">
        <div class="redio-div">

          <div class="custom-control custom-radio custom-control-inline">
            <input [checked]="CoefLevelCode === 1" type="radio" (click)="onRedioClick(1)" class="custom-control-input"
              id="LevelRadio1" name="LevelRadios" [disabled]="!IsEditable">
            <label class="custom-control-label redio-label" for="LevelRadio1">رسته</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input [checked]="CoefLevelCode === 2" type="radio" (click)="onRedioClick(2)" class="custom-control-input"
              id="LevelRadio2" name="LevelRadios" [disabled]="!IsEditable">
            <label class="custom-control-label redio-label" for="LevelRadio2">رشته</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input [checked]="CoefLevelCode === 3" type="radio" (click)="onRedioClick(3)" class="custom-control-input"
              id="LevelRadio3" name="LevelRadios" [disabled]="!IsEditable">
            <label class="custom-control-label redio-label" for="LevelRadio3">فصل</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input [checked]="CoefLevelCode === 4" type="radio" (click)="onRedioClick(4)" class="custom-control-input"
              id="LevelRadio4" name="LevelRadios" [disabled]="!IsEditable">
            <label class="custom-control-label redio-label" for="LevelRadio4">ردیف</label>
          </div>

        </div>
      </div>
      <div class="box-grid">
        <app-grid style="width: 100%" [columns]="columnDef" [rowsData]="rowData" (GridReady)="onCoefGridReady($event)"
          (CellValueChanged)="onCellValueChanged($event)" [gridHeight]=90></app-grid>
      </div>
    </div>
    <div class="buttons-place" style=" margin: 5px">
      <button *ngIf="IsVisible" (click)="onConfirmClick()" id="btn2" class="btn btn-primary btnGreen"
        style="margin: 2px">
        <img width="15px" height="15px" src="assets/Icons/save.png" />
        ثبت</button>
      <button (click)="close()" class="btn btn-primary btnGreen">
        <img width="15px" height="15px" src="assets/Icons/exit.png" />
        خروج</button>
    </div>
  </div>
</div>

<app-over-popup *ngIf="btnclicked" [PopupType]="type" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [PopupParam]="alertMessageParams" (popupclosed)="popupclosed($event)"
  (PopupOutPutParam)="type ==='message-box' ? MessageBoxAction($event) :''">
</app-over-popup>