<div id="container" class="row" style="clear: both">
  <div id="content" class="">
    <div style="min-width: 350px;">
      <div class="main-form-body" style="margin: 5px;">
        <div class="header-message">
          <div *ngFor="let item of InputParam?.RadioItems; index as i" class="custom-control custom-radio">
            <!-- <input *ngIf="i === 0" checked="checked" type="radio" (click)="onRedioClick(item.type)"
              class="custom-control-input" id="LevelRadio{{i}}" name="LevelRadios" [disabled]="item.IsDisable"> -->
            <input [checked] = "item.checked"  type="radio" (click)="onRedioClick(item)" class="custom-control-input"
              id="LevelRadio{{i}}" name="LevelRadios" [disabled]="item.IsDisable">
            <label class="custom-control-label redio-label" for="LevelRadio{{i}}">{{item.title}}</label>
          </div>
        </div>

        <div class="main-form-body" style="margin: 5px;" *ngIf="ShowDateFilterBox">
          <table style="width: 100%;">
            <tr>
              <td style="width: 60%;">
                <span class="table-cell-Lable">تاریخ آخرین بروزرسانی از</span>
                <app-jalali-datepicker [WidthPC]="50" [Required]="false"
                  (Change)="OnFromDateChange($event)">
                </app-jalali-datepicker>
              </td>
              <td style="width: 40%;">
                <span class="table-cell-Lable">تا</span>
                <app-jalali-datepicker [WidthPC]="70" [Required]="false"
                  (Change)="OnToDateChange($event)" [CurrMiladiDateValue]="ToDate">
                </app-jalali-datepicker>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="buttons-place">
        <button (click)="OnOkClick()" id="btn2" class="btn btn-primary btnGreen">
          <img width="15px" height="15px" src="assets/Icons/ok.png" />
          {{BtnOKName}} </button>
        <button *ngIf="HaveDelete" (click)="OnDelClick()" id="btn2" class="btn btn-primary btnGreen">
          <img width="15px" height="15px" src="assets/Icons/delete.png" />
          حذف صورتجلسه </button>
        <button (click)="onClose()" id="btnClose" class="btn btn-primary btnGreen">
          <img width="15px" height="15px" src="assets/Icons/exit.png" />
          خروج
        </button>
      </div>
    </div>
  </div>
</div>