<div class="main-form-body" style="margin-top: 5px; height: 93%;">
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <div class="box-dev" style=" width: 100%; height: 70%; border: 1px solid rgb(218, 218, 218); border-radius: 5px;">
      <app-grid style="width: 100%;" [columns]="columnDef" [defaultSelectedRowIndex]="defaultSelectedRowIndex" [rowsData]="ApplicationNoteRow"
        [gridHeader]="'لیست اطلاعیه ها'" (GridReady)="onGridReady($event)" [IsEditable]="false"
        (RowClick)="RowClick($event)"  [gridHeight]="89">
      </app-grid>
    </div>
    <div class="box-dev" style=" width: 100%; height: 20%; margin-top: 2%;">
      <form>
        <fieldset class="feild-set" style="display: inherit;">
          <legend style="width: 7%;" class="legend">متن اطلاعیه</legend>
          <table style="width: 100%;">
            <tr>
              <td style="width: 100%;">
                <textarea [(ngModel)]="Note" name="Note" class="form-control input-style" rows="4"
                  style="display: inline-block;height: 100%; width: 100%; text-align: justify; white-space: pre-line;
                  font-size: 12px;"
                  id="indicator-text_note" readonly>
                </textarea>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>