<div class="main-form-body for-append-date" style="margin-top: 5px; height:86%;">
  <div class="main-form-body" style="display: inherit">
    <table style="width: 100%;">
      <tr>

        <td width="50%">

          <div class="redio-div" style="width: 94%;">
            <div class="custom-control custom-radio custom-control-inline">
              <input [checked]="IsInternal" type="radio" class="custom-control-input" id="rdoInternalCorporate"
              name="ChoosenCorporateType" (click)="rdoCorporateTypeClick(true)">
              <label style="margin: auto;" class="custom-control-label redio-label" for="rdoInternalCorporate">مشتری
                درون شهرداری
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input [checked]="!IsInternal" type="radio" class="custom-control-input" id="rdoExternalCorporate"
                name="ChoosenCorporateType">
                <label style="margin: auto;" class="custom-control-label redio-label" for="rdoExternalCorporate"
                (click)="rdoCorporateTypeClick(false)">مشتری برون شهرداری</label>
            </div>
          </div>

        </td>
        <td width="50%">
          <span class="table-cell-Lable">مشتری</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 86%;"
            [NgSelectParams]="NgSelectCustomerReqParams" [Items]="CustomerReqItems"
            (FetchMore)="CustomerReq_FetchMore($event)" (Open)="CustomerReqOpened()"
            (doSearch)="Customer_Req_DoSearch($event)" (selectedChange)="onChangeCustomer($event)">
          </app-ng-select-virtual-scroll>
        </td>

      </tr>
    </table>
  </div>

  <div class="box-dev" style=" width: 100%; margin-top: 5px;" [style.height.%]="90">
    <app-grid [columns]="columnDef" [rowsData]="rowData" [gridHeight]="92" [IsEditable]="true"
      (GridReady)="onGridReady($event)" (cellEditingStarted)="onCellEditingStartedMCP($event)">
    </app-grid>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button (click)="OnSave()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/save.png"/>
    ثبت
  </button>
  <button (click)="closeModal()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج
  </button>
</div>
<app-over-popup *ngIf="btnclicked" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [minHeightPixel]="MinHeightPixel" [PopupType]="type"
  [HeightPercentWithMaxBtn]="HeightPercentWithMaxBtn" [PopupParam]=" alertMessageParams" [HaveHeader]="HaveHeader"
  (popupclosed)="popupclosed($event)">
</app-over-popup>