#header
{
    background-color: deepskyblue;
    width: 100%;
    height: 20px;
    cursor: move;
}

#headertitle
{
    float : right;
    padding-right: 5px;
}

.container
{
    border: solid blue;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
.container.full {
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}

.container.full #container,
.container.full #sidebar,
.container.full #content {
    height: 100%;
}

#sidebar
  {
    background-color: transparent;
    width: 200px;
    padding: 0;
    border : solid #a9a9a9 ;
    min-width: 250px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

#content
{
    background-color: transparent;
    flex: 1;
    padding: 0;
    border: solid #a9a9a9 ;
    overflow: hidden;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.data-grid
{
    flex: 1;
    background-color: transparent;
    height: 550px;
    padding: 5px;
    text-align: right;
}


span
{
font-size: 12px;
text-align: right;
}

.input-year
{
    float: right;
    margin: 5px auto;
    align-content: center;
}

.FontSize12
{
    font-size: 12px;
}
.wrapper{
    text-align: center !important;
}
/* ----------------------------------------------------------------------------- */


.modal-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.4s;

}

.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

.modal {
    display: block;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.modal.full {
    top: 0 !important;
    right: 0  !important;
    left: 0 !important;
    bottom: 0 !important;
}

.modal-box {
    position: relative;
    animation-name: modalbox;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.5);
}

@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    padding: 20px 40px;
    color: #fff;
}

.modal-body {
    background: #eceff1;
    padding: 60px 40px;
}

.close-modal{
    text-align: right;
    cursor: pointer;
}

.modal-trigger,.Modalbutton{
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
}

.Modalbutton{
    border: 1px solid #333333;
    color: #333333;
}

.modal-trigger:hover{
    padding: 20px 60px;
    text-decoration: none;
}

.input-style{
    border-radius:3px;
     height: 25px;
}
#subject-style{
    border-radius:3px;
     height: 25px;
}
.box-dev{
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
}
.feild-set{
    border: 1px solid rgb(218, 218, 218);
    min-height: 50px;
    margin-bottom: 5px;
    padding: 5px;
}


.input-style{
    border-radius:3px;
     height: 25px;
     display: inline-block;
  }
  
  .table-cell-Lablle {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 10px;
  }
  
  .feild-set{
      border: 1px solid rgb(218, 218, 218);
      min-height: 50px;
      margin-bottom: 5px;
      padding: 5px;
      display: inherit;
  }
  
  .legend {
    width: auto; 
    margin: 0; 
    font-weight: bold;
  }
  
  .table-cell-Lable {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }
  .select-general-for-lable {
    margin: 2px !important;
}

.fixed_input
{
    
    width:65% !important;
    max-width: 65% !important;
    display: inline-block;

}
.fixed_input_contract
{
    display: inline-block;
    width:85% !important;
    max-width: 85% !important;
}
.fixed_input_year
{
    display: inline-block;
    width:45% !important;
    max-width: 45% !important;
}