<div class="main-form-body" style="margin-top: 5px; height: 85%;">
  <fieldset align="right" class="feild-set" style="display: inherit">
      <table style="margin-bottom: 10px">
        <tr>
          <td style="padding: 10px;">واحد اجرایی</td>
          <td>
            <app-ng-select-virtual-scroll  style="display: inline-block;width: 100%;"
              class="" [NgSelectParams]="RegionParams" 
              (selectedChange)="onChangeRegionObj($event)" [Items]="RegionListSet">
            </app-ng-select-virtual-scroll>
          </td>
          <td style="padding: 10px;">کد کمیسیون</td>
          <td>
              <app-ng-select-virtual-scroll  style="display: inline-block;width: 100%;"
              class="" [NgSelectParams]="CommitionParams" 
              (selectedChange)="onChangeCommitionObj($event)" [Items]="CommitionListSet">
            </app-ng-select-virtual-scroll>
          </td>
        </tr>
      </table>
    </fieldset>
    <div id="container" style="clear: both;padding-bottom: 5px;" >
      <div class="box-dev for-append-date" style=" width: 100%;" [style.height.%]="88">
        <app-grid
         [columns]="columnDef"
          [rows]="rowData" 
          [gridHeight]=92
          [IsEditable]="true" 
          [HaveBorder]="true"
          (cellEditingStarted)="oncellEditingStarted($event)"
          (GridReady)="onGridReady($event)"
          (CellValueChanged)="oncellvaluechanged($event)"
          >
        </app-grid>
      </div>
    </div>
  </div>
  

  <div class="buttons-place" style="margin: unset;">
    <button *ngIf="HaveSave"  (click)="onSave()" id="btn2" class="btn btn-primary btnGreen">
      <img width="15px" height="15px" src="assets/Icons/save.png" />
      ثبت</button>
      <button (click)="close()" id="btn4" class="btn btn-primary btnGreen">
      <img width="15px" height="15px" src="assets/Icons/exit.png" />
      خروج</button>
  </div>
<app-over-popup *ngIf="btnclicked"
                [HaveMaxBtn] = "HaveMaxBtn"
                [startLeftPosition]="startLeftPosition"
                [startTopPosition]="startTopPosition"
                [PopupType]="PopUpType"
                [PopupParam]= "alertMessageParams"
                (popupclosed)="popupclosed($event)">
</app-over-popup>
