<div id="container" style="clear: both;padding: 5px">
  <div id="content" style="width:100%;">
    <div class="main-form-body" style="width:100%;padding: 10px;">
      <form>
        <table style="width: 100%; margin-top: 15px;">
          <tr>
            <td style="width: 50%;">
              <span class="table-cell-Lable" >α</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="alpha" name="alpha"
                readonly />
            </td>
            <td style="width: 50%;">
              <span class="table-cell-Lable">Pb</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="Pb" name="Pb"
                readonly />
            </td>
          </tr>
          <tr>
            <td style="width: 50%;">
              <span class="table-cell-Lable">lpp</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="lpp" name="lpp"
                readonly />
            </td>
            <td style="width: 50%;">
              <span class="table-cell-Lable">Pm</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="Pm" name="Pm"
                readonly />
            </td>
          </tr>
          <tr>
            <td style="width: 50%;">
              <span class="table-cell-Lable">PE</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="PE" name="PE"
                readonly />
            </td>
            <td style="width: 50%;">
              <span class="table-cell-Lable">k</span>
              <input type="text" class="form-control input-style" style="width: 80%" [(ngModel)]="k" name="k"
                readonly />
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="buttons-place" style="width:100% !important; margin: 0px !important;">
      <button (click)="onClose()" id="btn4" class="btn btn-primary btnGreen">
        <img width="15px" height="15px" src="assets/Icons/exit.png" />
        خروج
      </button>
    </div>
  </div>
</div>
<!-- 
<app-over-popup *ngIf="btnclicked" [PopupType]="type" [startLeftPosition]="OverstartLeftPosition"
  [startTopPosition]="OverstartTopPosition" [PopupParam]="type === 'message-box' ? alertMessageParams : ParamObj"
  (popupclosed)="popupclosed($event)">
</app-over-popup> -->