<div class="main-form-body" style="margin-top: 5px; height:87%;">
  <div class="main-form-body">
    <table style="width: 100%;">
      <tr>
        <td width="33%">
          <span class="table-cell-Lable">واحد اجرایی</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;"
            [NgSelectParams]="NgSelectRegionParams" (selectedChange)="onChangeReigonObj($event)"
            [Items]="ReigonListSet">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="33%">
          <span class="table-cell-Lable">نوع گردش کار</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;"
            [NgSelectParams]="NgSelectModuleParams" [Items]="ModuleNameListSet">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="34%">
          <span class="table-cell-Lable">مرکز هزینه</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.3%;"
            [NgSelectParams]="NgCostCenterParams" [Items]="CostCenterItems"
            (selectedChange)="onChangeCostCenterobject($event)">
          </app-ng-select-virtual-scroll>
        </td>
      </tr>
      <tr>
        <td width="33%">
          <span class="table-cell-Lable">سال مالی از</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 29%;"
            [NgSelectParams]="NgSelectFromFinYearParams" [Items]="FromFinYearList">
          </app-ng-select-virtual-scroll>
          <span class="table-cell-Lable">تا</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 29%;"
            [NgSelectParams]="NgSelectToFinYearParams" [Items]="ToFinYearList">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="33%">
          <span class="table-cell-Lable">شماره قرارداد</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;"
            [TotalItemCount]="FromContractTotalItemCount" [PageCount]="FromContractPageCount"
            [NgSelectParams]="NgSelectContractParamsFrom" [Items]="ContractListSetFrom"
            (FetchMore)="FetchMoreFromContract($event)" (doSearch)="doFromContractSearch($event)"
            (Open)="FromContractOpened()">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="34%">
          <span class="table-cell-Lable">مرکز هزینه فرعی</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.3%;"
            [NgSelectParams]="NgSubCostCenterParams" [Items]="SubCostCenterItems">
          </app-ng-select-virtual-scroll>
        </td>
      </tr>
      <tr>
        <!-- <td width="33%">
          <span class="table-cell-Lable">از شماره صورت وضعیت</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;"
            [NgSelectParams]="NgSelectContractPayParamsFrom" (Open)="FromContractPayOpened()"
            [Items]="ContractPayListSetFrom" (FetchMore)="FetchMoreFromContractPay($event)"
            (doSearch)="doSearchFromContractPay($event)">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="33%">
          <span class="table-cell-Lable">تا شماره صورت وضعیت</span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;"
            [NgSelectParams]="NgSelectContractPayParamsTo" (Open)="ToContractPayOpened()" [Items]="ContractPayListSetTo"
            (FetchMore)="FetchMoreToContractPay($event)" (doSearch)="doSearchToContractPay($event)">
          </app-ng-select-virtual-scroll>
        </td> -->
        <td width="33%">
          <span class="table-cell-Lable">تاریخ صورت وضعیت از</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true" (Change)="OnFromContractPayDateChange($event)">
          </app-jalali-datepicker>
          <span class="table-cell-Lable">تا</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true" (Change)="OnToContractPayDateChange($event)">
          </app-jalali-datepicker>
        </td>
        <td width="33%">
          <span class="table-cell-Lable">تاریخ شروع صورت وضعیت از</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true"
            (Change)="OnFromProductRequestDateChange($event, 'FromStartEstimateDate')">
          </app-jalali-datepicker>
          <span class="table-cell-Lable">تا</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true"
            (Change)="OnFromProductRequestDateChange($event, 'ToStartEstimateDate')">
          </app-jalali-datepicker>
        </td>
        <td width="34%">
          <span class="table-cell-Lable">تاریخ پایان صورت وضعیت از</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true"
            (Change)="OnFromProductRequestDateChange($event, 'FromEndEstimateDate')">
          </app-jalali-datepicker>
          <span class="table-cell-Lable">تا</span>
          <app-jalali-datepicker [WidthPC]="29" [Required]="true"
            (Change)="OnFromProductRequestDateChange($event, 'ToEndEstimateDate')">
          </app-jalali-datepicker>
        </td>
      </tr>
      <tr>
        <td width="33%">
          <span class="table-cell-Lable" style="margin-left: 5px;">
            دارای گردش کار
          </span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;" [NgSelectParams]="HaveWFParams"
            [Items]="HaveWFItems" (selectedChange)="OnChangeWF($event,'HaveWF')">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="33%">
          <app-radio-box-component [Mode]="'Dual'" [Params]="ContractorTypeRadioParam" [Display]="'inline'"
            [Bordered]="false" [BoxWidth]="65" [DefaultSelected]='true' [Title]="'نوع پیمانکار'" [QuestionStyle]="false"
            [TableAlign]="true" (SelectedOption)="rdoContractorTypeClick($event)">
          </app-radio-box-component>
        </td>
        <td style="width: 34%">
          <span class="table-cell-Lable" style="margin-left: 5px;">پیمانکار </span>
          <app-ng-select-virtual-scroll [PageCount]="ContractorPageCount" [TotalItemCount]="ContractorTotalItemCount"
            style="display: inline-block;width: 64.3%;" [NgSelectParams]="NgSelectContractorParams"
            [Items]="ContractorItems" (FetchMore)="FetchMoreContractor($event)" (Open)="OpenContractor($event)"
            (doSearch)="doContractorSearch($event)">
          </app-ng-select-virtual-scroll>

          <!-- <app-ng-select-virtual-scroll style="display: inline-block;width: 64.3%;"
            [NgSelectParams]="NgSubCostCenterParams" [Items]="SubCostCenterItems">
          </app-ng-select-virtual-scroll> -->
        </td>
      </tr>
      <tr>
        <td width="33%">
          <span class="table-cell-Lable" style="margin: 0 ;margin-left: 5px">
            وضعیت گردش کار
          </span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;" [NgSelectParams]="EndWFParams"
            [Items]="EndWFItems" (selectedChange)="OnChangeWF($event,'IsEndWF')">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="33%" colspan="2">
          <span class="table-cell-Lable">موضوع</span>
          <input name="Note" style="display: inline-block;width: 82.5%;" class="form-control input-style"
            [(ngModel)]="Note" type="text" />
        </td>
      </tr>
      <tr>
        <td width="33%">
          <span class="table-cell-Lable" style="margin-left: 5px;">
            نوع صورت وضعیت
          </span>
          <app-ng-select-virtual-scroll style="display: inline-block;width: 64.5%;" [NgSelectParams]="ContractOperationParams"
            [Items]="ContractOperationItems" (selectedChange)="OnChangeContractOperation($event)">
          </app-ng-select-virtual-scroll>
        </td>
        <td style="width: 33%">
          <span class="table-cell-Lable">شماره صورت وضعیت</span>
          <input  name="ContractPayTechnicalCode" style="width: 64%" class="form-control input-style" type="text"
           [(ngModel)]="ContractPayTechnicalCode" />
        </td>
      </tr>
    </table>
  </div>
  <table>
    <tr>
      <td wdith="25%" colspan="2">
        <button type="submit" (click)="Search(false)"
          class="select-general-for-lable btn-gray-border btn btn-primary btnGreen">
          <img width="25px" height="15px" src="assets/Icons/Search.png" />
          جستجو
        </button>
        <button type="submit" (click)="Search(true)"
          class="select-general-for-lable btn-gray-border btn btn-primary btnGreen">
          <img width="25px" height="15px" src="assets/Icons/Search.png" />
          جستجو به ریز
        </button>
      </td>
    </tr>
  </table>
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <div class="box-dev" style=" width: 100%;" [style.height.%]="BoxDevHeight">
      <app-grid (RowClick)="RowClick($event)" [columns]="ContractPayColumnDef" [rowsData]="rowData" [gridHeight]=90>
      </app-grid>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button id="btnPrint" (click)="onEdit(true)" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/print.png" />
    مشاهده
  </button>
  <button (click)="BtnClick()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/show.png" />
    جزئیات گردش
  </button>
  <button (click)="closeModal()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج
  </button>
</div>
<app-over-popup *ngIf="btnclicked"
  [HeightPercentWithMaxBtn]="type === 'message-box' ? '' : PopUpType === 'contract-pay-item-estimate-page' ? 98 : HeightPercentWithMaxBtn"
  [MainMinwidthPixel]="PopUpType === 'contract-pay-item-estimate-page' ? 1190 : ''"
  [HaveMaxBtn]="type === 'message-box' ? false : HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [minHeightPixel]="type === 'message-box' ? '' : MinHeightPixel"
  [PopupType]="type" [PopupParam]="type === 'message-box' ? alertMessageParams : paramObj" [HaveHeader]="HaveHeader"
  (popupclosed)="popupclosed($event)" [MainMaxwidthPixel]="PixelWidth" [PixelWidth]="PixelWidth"
  [PercentWidth]="PercentWidth" (PopupOutPutParam)="ReturendContractOperation($event)">
</app-over-popup>