<div id="container" class="" style="clear: both">
  <div id="analayze-price-content">
    <div class="main-form-body" style="display: flex;">
      <div class="select-with-lable" style="width:25%;">
        <label class="col-form-label">فهرست بها</label>
        <app-ng-select-virtual-scroll style="display: inline-block;width: 70% ; min-width: 150px;"
        class="select-general-for-lable" [NgSelectParams]="PriceListTopicParams" [Items]="PriceListTopicSet"
        (selectedChange)="onChangePriceListTopicObj($event)"  [Disabled]="!IsEditable">
      </app-ng-select-virtual-scroll>
      </div>
      <div class="select-with-lable" style="width:25%;">
        <label class="col-form-label">محصول</label>
        <app-ng-select-virtual-scroll style="display: inline-block;width: 80% ; min-width: 150px;"
          class="select-general-for-lable" [NgSelectParams]="ProductParams" [Items]="ProductListSet"
          (selectedChange)="onChangeProductObj($event)" [Disabled]="!IsEditable">
        </app-ng-select-virtual-scroll>
      </div>
    </div>
    <div class="main-form-body" style="height: 79%">
      <app-grid [columns]="columnDef" [rows]="rowData" [gridHeight]="94"></app-grid>
    </div>
    <div class="buttons-place" style="margin: 0">
      <button id="btnExit" class="btn btn-primary btnGreen" (click)="closeModal()">
        <img width="15px" height="15px" src="assets/Icons/exit.png" />
        خروج
      </button>
    </div>
  </div>
</div>