<div class="main-form-body" style="margin-top: 5px; height:490px;">
  <fieldset align="right" class="feild-set" style="display: inherit">
      <legend style="width: 10%;"> ماژول نوع گردش کار </legend> 
    <table>
      <tr>
        <td width="33%">
            <span class="table-cell-Lable">واحد اجرایی</span>
            <app-ng-select-virtual-scroll style="display: inline-block;width: 55%;" class="select-general-for-lable" [NgSelectParams]="NgSelectRegionParams" [Items] = "ReigonListSet"
            (selectedChange)="onChangeReigonObj($event)">
          </app-ng-select-virtual-scroll>
        </td>

        <td width="33%">
            <span class="table-cell-Lable">نام ماژول</span>
            <app-ng-select-virtual-scroll style="display: inline-block;width: 55%;" class="select-general-for-lable" [NgSelectParams]="NgSelectModuleParams" [Items] = "ModuleNameListSet"
            (selectedChange)="onChangeModuleObj($event)">
          </app-ng-select-virtual-scroll>
        </td>
      </tr>
     
    </table>


  </fieldset> 





















    <div id="container" style="clear: both;padding-bottom: 5px;">
      <div class="box-dev" style=" width: 100%;"  [style.height.%]="BoxDevHeight">
        <app-grid (RowClick)="RowClick($event)"
         [columns]="MaincolumnDef" 
         [rows]="rowData" 
         [gridHeight]=100>
        </app-grid>
      </div>
    </div>
  </div>
<div class="buttons-place" style="margin: unset;">
  <button (click)="closeModal()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج
  </button>
</div>





<app-over-popup
*ngIf= "btnclicked"
[PopupType]= "type" 
[startLeftPosition] = "OverstartLeftPosition"
[startTopPosition] = "OverstartTopPosition"
[PopupParam]= "alertMessageParams"
(popupclosed)= "popupclosed($event)">
</app-over-popup>