<div id="container" class="row" style="clear: both">
  <div id="myContent" class="data-grid">
    <div id="mainformbody" class="main-form-body"
      style="margin: 5px; padding:2px 10px;text-align: justify;line-height: 30px;">
      <span>
        کلیه اشخاص مجاز می باشند اسناد مربوط به {{TypeName1}} را به صورت رایگان دانلود و دریافت نمایند.
        <br>
        در صورت تمایل به تکمیل اسناد {{TypeName2}} و بارگزاری آنها لازم است در صورت نداشتن حساب شهروندی، قبل از بارگزاری
        در سایت <a href="http://my.tehran.ir" target="_blank">my.tehran.ir</a> ثبت نام و حساب شهروندی خود را دریافت
        نمایند.
        <br>
        <span *ngIf="this.InputParams.ENType === 'tender'">
          در کمیسیون مناقصات تنها پاکاتی مورد بررسی قرار می گیرند که طرف قرارداد یا ارائه دهنده خدمت
          در سایت <a href="http://providers.tehran.ir" target="_blank">providers.tehran.ir</a> ثبت نام نموده و اطلاعات آن توسط
          واحدهای ذیصلاح شهرداری تایید شده باشند
        </span>
      </span>
      <div style="text-align: center;width: 100%;color: green;font-size: 13px;">
        <span style="margin-left: 5px;">موافق هستم</span>
        <app-custom-check-box (PrettyCheckBoxChange)="OnCheckBoxChange($event)"
          [configurationInfo]="CustomCheckBoxConfig" style="vertical-align: sub;">
        </app-custom-check-box>
      </div>
    </div>
    <div class="buttons-place" style="margin: unset; margin: 5px;">
      <button (click)="onAccept()" id="btn2" class="btn btn-primary btnGreen">
        <img width="15px" height="15px" src="assets/Icons/ok.png" />
        تایید
      </button>
      <button (click)="onCancel()" id="btn2" class="btn btn-primary btnGreen">
        <img width="15px" height="15px" src="assets/Icons/cancel.png" />
        انصراف
      </button>
    </div>
  </div>
</div>
<app-over-popup *ngIf="ShowMessage" [PopupType]="'message-box'" [startLeftPosition]="449" [startTopPosition]="87"
  [zIndex]="5000000" [PopupParam]="alertMessageParams" (popupclosed)="popupclosed($event)"></app-over-popup>