<div class="main-form-body" style="margin-top: 5px; height: 84%;">
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <form>
      <fieldset class="feild-set" style="display: inherit;margin-bottom: 10px">
        <legend style="width: 7%;"> اطلاعات قرارداد </legend>
        <table style="width: 100%;">
          <tr>
            <td width="20%">
              <span class="table-cell-Lable"> سال مالی</span>
              <input class="form-control input-style" type="text" style="width: 60%" value="{{FinYearCode}}" readonly />
            </td>
            <td width="20%">
              <span class="table-cell-Lable">کد قرارداد</span>
              <input class="form-control input-style" type="text" style="width: 60%" value="{{ContractCode}}"
                readonly />
            </td>
            <td width="20%">
              <span class="table-cell-Lable">پیمانکار</span>
              <input class="form-control input-style" type="text" style="width: 60%" value="{{ContractorName}}"
                readonly />
            </td>
            <td width="20%">
              <span class="table-cell-Lable">موضوع</span>
              <input class="form-control input-style" id="subject-style" type="text" style="width: 60%"
                value="{{Subject}}" readonly /></td>
          </tr>
          <tr>
            <td width="20%">
              <span class="table-cell-Lable">شماره صورت وضعیت</span>
              <input class="form-control input-style" type="text" style="width: 60%" value="" readonly />
            </td>
            <td width="20%">
              <span class="table-cell-Lable">تاریخ صورت وضعیت </span>
              <input class="form-control input-style" type="text" style="width: 60%" value="" readonly />
            </td>

            <td width="20%" colspan="2">
              <span class="table-cell-Lable">توضیحات</span>
              <input class="form-control input-style" id="subject-style" style="width: 80%" type="text" value="{{Note}}"
                readonly />
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
    <div class="box-dev" style=" width: 100%;" [style.height.%]="BoxDevHeight">
      <app-grid [columns]="columnDef" [rowsData]="dataRow" [gridHeight]="90" (GridReady)="onGridReady($event)"
        (FilterChanged)="OnFilterChanged()" (RowDataChanged)="OnRowDataChanged()" (RowDataUpdated)="OnRowDataUpdated()"
        [IsEditable]="false">
      </app-grid>
      <div class="PriceListDiv">
        <span class="spanStyle" style="margin-right:5px;">
          جمع کل :
        </span>
        <span class="spanStyle">
          {{SumFinalEstimateAmount}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: auto; height: 44px; padding: 10px; padding-bottom: 7px;">
  <button (click)="onPrintClick()" id="btn2" class="btn btn-primary btnGreen" style="margin: 2px">
    <img width="15px" height="15px" src="assets/Icons/save.png" />
    چاپ</button>
  <button (click)="close()" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>