<div id="container" style="clear: both;padding: 5px">
  <div class="main-form-body" style="margin: 5px;height: 87%;">
    <form>
      <fieldset class="feild-set" style="display: inherit">
        <legend class="legend">اطلاعات درخواست</legend>
        <table style="width: 100%;">
          <tr>
            <td width="25%">
              <span class="table-cell-Lable">شماره درخواست</span><input style="width: 60% "
                class="form-control input-style" type="text" value="{{ProductRequestCode}}" readonly />
            </td>
            <td width="25%">
              <span class="table-cell-Lable">تاریخ درخواست</span>
              <app-jalali-datepicker [WidthPC]="60" 
              [CurrMiladiDateValue]="ProductRequestDate" >
            </app-jalali-datepicker>
              </td>
            <td width="50%">
              <span class="table-cell-Lable">موضوع</span><input style="width: 80% " class="form-control input-style"
                type="text" name="Subject" [(ngModel)]="Subject" readonly />
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
    <div class="tab-content box-dev" style="margin-top: 5px;padding: 5px;" [style.height.%]="88">
      <!-- <div  style="margin-bottom: 5px;height: 95%;"> -->
        <div id="div1" class="box-dev left-dev" style="height: 100%;">
          <app-grid style="width: 100%;"
          [columns]="WeightProdReqItemColDef" 
          [rowsData]="ProdReqItemrowData"
          (RowClick)="onPRItemRowClick($event)"
          (GridReady)="onPRItemGridready($event)"
          [gridHeight]="90">
          </app-grid>
        </div>

        <div id="div2" class="box-dev right-dev" style="height: 100%;">
          <app-grid style="width: 100%;"
          [columns]="ProdReqPersonColDef" 
          [rowsData]="ProdReqPersonrowData" 
          [gridHeight]="90"
          [IsEditable]="true"
          [IsDisable]="!IsPersonEditable"             
          (GridReady)="onProdReqPersonGridReady($event)"
          (cellEditingStarted) = "oncellEditingStarted($event)">
        </app-grid>
        </div>
      <!-- </div> -->

    </div>
  </div>
  <div class="buttons-place" style="margin: unset; margin: 5px;">
    <button *ngIf=" HaveSave" (click)="onSave()" id="btnSave" class="btn btn-primary btnGreen">
      <img width="15px" height="15px" src="assets/Icons/save.png" />
      ثبت
    </button>

    <button id="btnClose" class="btn btn-primary btnGreen" (click)="Close()">
      <img width="15px" height="15px" src="assets/Icons/exit.png" />
      خروج
    </button>
  </div>
</div>

<app-over-popup 
*ngIf="isClicked"
[PopupType]="PopUpType"
[startLeftPosition]="startLeftPosition" 
[startTopPosition]="startTopPosition"
(popupclosed)="popupclosed($event)"
[PopupParam]="alertMessageParams"
(PopupOutPutParam)="PopUpType ==='message-box' ? MessageBoxAction($event) : getOutPutParam($event)">
</app-over-popup>

