<div class="row">
  <div class="col-md-4 col-md-offset-4 customLogin" style="padding: 0;">
    <form action="/Account/Login?ReturnUrl=%2F" autocomplete="off" class="form-horizontal" method="post" role="form">
      <input name="__RequestVerificationToken" type="hidden"
        value="wDvXKBKA5PFnuXiChd_KlQkyQFfSnChVDhGGeqSNV9QOW-1k0Vjms9OaQHFdrYHkTyabR6QUAy81A2PIsoZq1DpJSUnEEv0q8u77lK_Rb6c1">
      <div class="panel panel-default"
        style="display: block; visibility: visible; opacity: 1; transform: translateY(0px);">
        <div class="panel-body" style="text-align: right;">
          <span>کاربر گرامی در صورتی که فاقد نام کاربری هستید جهت ثبت نام به سامانه تهران من با آدرس <a href="http://my.tehran.ir" target="_blank">my.tehran.ir</a> مراجعه فرمایید</span>
          <hr>
          <div class="form-group mb-md">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="ti ti-user"></i>
                </span>
                <input autocomplete="off" class="form-control" id="UserName" name="UserName" placeholder="نام کاربری"
                  required="required" type="text" [(ngModel)]="UserName">
              </div>

            </div>
          </div>
          <div class="form-group mb-md">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="ti ti-key"></i>
                </span>
                <input autocomplete="off" class="form-control" id="Password" name="Password" placeholder="رمز عبور"
                  type="password" [(ngModel)]="Password">
              </div>

            </div>
          </div>
          <section id="captcha">

            <div class="page-wrapper">

              <div class="item-wrapper">
                <div class="captchaImage">

                  <a style="float:left;">
                    <img id="MyCaptcha" style="width:85px;" (click)="ReloadCaptcha()"
                      src="data:image/JPEG;base64,{{CaptchaImage}}" title="بر روی تصویر کلیک کنید تا تصویر تغییر کند">
                  </a>
                  <div class="controller" style="width:73%;float:left;">
                    <input autocomplete="off" class="form-control text-box single-line" id="Captcha" name="Captcha"
                      placeholder="عبارت مقابل را وارد نمایید" style="width: 100%;min-height: 30px;height: 30px;"
                      type="text" value="" [(ngModel)]="Captcha">
                  </div>

                </div>
                <div id="divMessage" class="MessageBox">
                </div>
              </div>

            </div>

          </section>
        </div>
        <div class="panel-footer" style="padding-top: 0;text-align: center;">
          <div class="clearfix">
            <input (click)="OnLogin()" type="submit" value="ورود" class="btn btn-primary pull-center"
              style="width: 130px">
          </div>
        </div>
      </div>
    </form>


    <div class="text-center">

    </div>
  </div>
</div>
<app-over-popup *ngIf="ShowMessage" [PopupType]="'message-box'" [startLeftPosition]="449" [startTopPosition]="87"
  [zIndex]="5000000" [PopupParam]="alertMessageParams" (popupclosed)="popupclosed($event)"></app-over-popup>