<div class="main-form-body" style="margin-top: 5px; height: 85%;">
  <div id="container" style="clear: both;padding-bottom: 5px;">
    <div style=" width: 100%;" [style.height.%]="100">
      <app-grid (RowClick)="RowClick($event)" [columns]="columnDef" [rowsData]="rowData" [gridHeight]="90"
        (GridReady)="onGridReady($event)">
      </app-grid>
    </div>
  </div>
</div>

<div class="buttons-place" style="margin: unset;">

  <button *ngIf="IsContract"  (click)="ShowDetails()" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/show.png" />
    مشاهده به ریز
  </button>

  <button *ngIf="IsContract"  (click)="onShowContract()" id="btn2" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/show.png" />
    مشاهده پرونده قرارداد
  </button>

  <button (click)="close()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>


</div>
<app-over-popup *ngIf="btnclicked" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [minHeightPixel]="MinHeightPixel" [PopupType]="type"
  [PopupParam]="type === 'message-box' ? alertMessageParams : paramObj" [PixelHeight]="PixelHeight"
  [MainMaxwidthPixel]="MainMaxwidthPixel" [minWidthPixel]="minWidthPixel" [PixelWidth]="PixelWidth"
  [PercentWidth]="PercentWidth" (popupclosed)="popupclosed($event)">
</app-over-popup>