<div class="main-form-body" style="margin-top: 5px; height:86%;">
  <div class="main-form-body">
    <table style="width: 100%;">
      <tr>
        <td colspan="2" width="20%">
          <span class="table-cell-Lable">واحد اجرایی</span>
          <app-ng-select-virtual-scroll style="display: inline-block; width: 70%; min-height: 25;"
            [NgSelectParams]="NgSelectRegionParams" (selectedChange)="onChangeReigonObj($event)"
            [Items]="ReigonListSet">
          </app-ng-select-virtual-scroll>
        </td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="20%"></td>
      </tr>
    </table>
  </div>
  <div style="clear: both;padding-bottom: 5px; height: 90%;">
    <div class="box-dev" style=" width: 100%;" [style.height.%]="40">
      <app-grid (GridReady)="onPRItemGridReady($event)" (RowClick)="PRItemRowClick($event)"
        (cellEditingStarted)="oncellEditingStarted($event)" [columns]="PRItemcolumnDef" [rowsData]="PRItemrowData"
        [gridHeight]="80" [IsEditable]="true" [defaultSelectedRowIndex]="defaultSelectedRowIndex">
      </app-grid>
    </div>
    <div class="box-dev Right-dev" [style.height.%]="60">
      <app-grid (GridReady)="onPREGridReady($event)" (RowClick)="PREntityRowClick($event)" [columns]="PREntitycolumnDef"
        [rowsData]="PREntityrowData" [gridHeight]="84" [IsEditable]="true"
        [defaultSelectedRowIndex]="defaultSelectedRowIndex" (CellValueChanged)="PREntityCellValueChanged($event)"
        (Delete)="PREntityonDeletedRow($event)" (cellEditingStarted)="onPREntitycellEditingStarted($event)">
      </app-grid>
    </div>

    <div class="box-dev Left-dev" [style.height.%]="60">
      <app-grid (GridReady)="onPEIGridReady($event)" (RowClick)="PEntityItemRowClick($event)"
        [columns]="PEntityItemcolumnDef" [rowsData]="PEntityItemrowData" [gridHeight]="84"
        [defaultSelectedRowIndex]="defaultSelectedRowIndex">
      </app-grid>
    </div>
  </div>
</div>
<div class="buttons-place" style="margin: unset;">
  <button (click)="onSave()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/save.png" />
    ثبت
  </button>
  <button (click)="closeModal()" id="btn4" class="btn btn-primary btnGreen">
    <img width="15px" height="15px" src="assets/Icons/exit.png" />
    خروج</button>
</div>

<ng-template #IsSelectedValid let-row>
  <img width="16px" height="16px" [src]="row.IsSelected ? 'assets/Icons/TrueCheckBox.png':'assets/Icons/Uncheck.png'" />
</ng-template>
<app-over-popup *ngIf="btnclicked" [HaveMaxBtn]="HaveMaxBtn" [startLeftPosition]="startLeftPosition"
  [startTopPosition]="startTopPosition" [PopupType]="PopupType" [HaveHeader]="HaveHeader"
  [PopupParam]="PopupType === 'message-box' ? alertMessageParams : paramObj" (popupclosed)="popupclosed($event)"
  (PopupOutPutParam)="PopupType ==='message-box' ? MessageBoxAction($event) : ''">
</app-over-popup>